ADF-Dev/pipeline/sqrIPT181ItemAttributeExtAndTrnfm_PX_copy1.json
{
	"name": "sqrIPT181ItemAttributeExtAndTrnfm_PX_copy1",
	"properties": {
		"activities": [
			{
				"name": "Item_Attributes_BCR_to_IPT_ASIA",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"useBinaryTransfer": true,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 32,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Item_Attributes_BCR_to_IPT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AB_Item_Attributes_BCR_to_IPT_ASIA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ISCCA_ITM_STY_CLR_CTRY_ATTR_T",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Item_Attributes_BCR_to_IPT_ASIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT  ITM_STY_CLR_SEQ_NBR_S, \nCNCY_CD,\nCTRY_CD,\nCHNL_ID,\nAUC_AMT,\nORIG_RTL_PRC_AMT\n FROM IPTCGI.ISCCA_ITM_STY_CLR_CTRY_ATTR_T",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 32,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ISCCA_ITM_STY_CLR_CTRY_ATTR_T",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AB_ISCCA_ITM_STY_CLR_CTRY_ATTR_T_181",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "srcIPT181ItemAttributeExtract_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ISCCA_ITM_STY_CLR_CTRY_ATTR_T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "srcIPT181ItemAttributeExtract_PX",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "xfmIPT181ItemAttributeTrnfm_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "srcIPT181ItemAttributeExtract_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "xfmIPT181ItemAttributeTrnfm_PX_copy1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DSGlobalCCseqNbr": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Send-Emial_3",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "srcIPT181ItemAttributeExtract_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:srcIPT181ItemAttributeExtract_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ISCCA_ITM_STY_CLR_CTRY_ATTR_T",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ISCCA_ITM_STY_CLR_CTRY_ATTR_T failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_4",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "xfmIPT181ItemAttributeTrnfm_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:xfmIPT181ItemAttributeTrnfm_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Item_Attributes_BCR_to_IPT_ASIA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:Item_Attributes_BCR_to_IPT_ASIA failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BEFORE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "xfmIPT181ItemAttributeTrnfm_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AB_srcIPT181ItemAttributeExtract_PX_DS_ISCCA_Previous_ASIA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BEFORE_TABLE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AFTER",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BEFORE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AB_RD_ISCCA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AFTER_TABLE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OUTFILE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OUTFILE_TABLE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AB_xfmIPTItemAttributeTrnfm_PX_DS_ISCCA_Item_ASIA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AFTER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "http://10.58.8.34:8386/api/executeCommand/shell?jobName=sqrIPT181ItemAttributeExtAndTrnfm_PX_copy1&&scriptPath=%2Fopt%2Fazure_data_transfer%2Fipt%2Fscripts%2F&&scriptName=CopyAndDelete.sh",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IRnEW",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "10",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 600
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('wait'), '1')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "select",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted_IPT_DB_DEV",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "1",
												"type": "String",
												"value": {
													"value": "@formatDateTime(addhours(utcnow(),8),'yyyy-MM-dd')",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": {
											"value": "select count(1) AS COUNT from IPTCGI.IPT_CMD_RECORD WHERE JOB_NAME = 'sqrIPT181ItemAttributeExtAndTrnfm_PX_copy1' and JOB_STATUS = 1 and to_char(EXEC_DATE,'yyyy-mm-dd') = ? ",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "select",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('select').output.resultSets[0].rows[0].COUNT, 1)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 900
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "wait",
											"value": {
												"value": "1",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "1:00:00"
				}
			},
			{
				"name": "truncate",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OUTFILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExecuteRemoteScript",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"http": {
							"value": "http://10.58.8.34:8386/api/executeCommand/python?jobName=truncate&&scriptPath=%2Fopt%2Fazure_data_transfer%2Fipt%2Fdata_integration%2F&&scriptName=truncate.py",
							"type": "Expression"
						},
						"jobname": {
							"value": "truncate",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"state": {
				"type": "String"
			},
			"state2": {
				"type": "String"
			},
			"wait": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "18-ItemAttribute"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-27T08:53:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}