ADF-Dev/pipeline/sqrIPT011BCRItemsHierUpdate_old.json
{
	"name": "sqrIPT011BCRItemsHierUpdate_old",
	"properties": {
		"activities": [
			{
				"name": "ldIPT011BCRItemsUMHDSBrand_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ldIPT011BCRItemsUMHDSBrand_PX",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DSHIERARCHY": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ldIPT011BCRItemsUMHDSDivision_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ldIPT011BCRItemsUMHDSDivision_PX",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DSHIERARCHY": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ldIPT011BCRItemsUMHDSDepartment_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ldIPT011BCRItemsUMHDSDepartment_PX",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DSHIERARCHY": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ldIPT011BCRItemsUMHDSClass_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ldIPT011BCRItemsUMHDSClass_PX",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DSHIERARCHY": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "update",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted_IPT_DB_DEV",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "BRD_DESC",
												"type": "String",
												"value": {
													"value": "@item().BRD_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "BRD_ABBR_DESC",
												"type": "String",
												"value": {
													"value": "@item().BRD_ABBR_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "BRD_ID",
												"type": "Int32",
												"value": {
													"value": "@item().BRD_ID",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "UPDATE IPTCGI.UMHDS_UNIV_MDSE_HIER_T \nSET  BRD_DESC = ?, BRD_ABBR_DESC = ? \n WHERE BRD_ID = ?\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSBrand_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AB_UMHDS_UNIV_MDSE_HIER_T_OUT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSDivision_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AB_IPTCGI_UMHDS_UNIV_MDSE_HIER_T_OUT_02",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "update_02",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted_IPT_DB_DEV",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "DIV_DESC",
												"type": "Int32",
												"value": {
													"value": "@item().DIV_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DIV_ABBR_DESC",
												"type": "Int32",
												"value": {
													"value": "@item().DIV_ABBR_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "BRD_ID",
												"type": "String",
												"value": {
													"value": "@item().BRD_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DIV_ID",
												"type": "String",
												"value": {
													"value": "@item().DIV_ID",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "UPDATE IPTCGI.UMHDS_UNIV_MDSE_HIER_T \nSET  DIV_DESC = ?, DIV_ABBR_DESC = ?\nWHERE BRD_ID = ?\nAND DIV_ID = ?\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSDepartment_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AB_IPTCGI_UMHDS_UNIV_MDSE_HIER_T_OUT_03",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup3').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "update_03",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted_IPT_DB_DEV",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "DEPT_DESC",
												"type": "String",
												"value": {
													"value": "@item().DEPT_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DEPT_ABBR_DESC",
												"type": "String",
												"value": {
													"value": "@item().DEPT_ABBR_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "BRD_ID",
												"type": "Int32",
												"value": {
													"value": "@item().BRD_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DIV_ID",
												"type": "Int32",
												"value": {
													"value": "@item().DIV_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DEPT_ID",
												"type": "Int32",
												"value": {
													"value": "@item().DEPT_ID",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "UPDATE IPTCGI.UMHDS_UNIV_MDSE_HIER_T \nSET  DEPT_DESC = ?, \nDEPT_ABBR_DESC = ? \nWHERE BRD_ID = ?\nAND DIV_ID = ?\nAND DEPT_ID = ?\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSClass_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AB_IPTCGI_UMHDS_UNIV_MDSE_HIER_T_OUT_04",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach4",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup4').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "update_04",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted_IPT_DB_DEV",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "CLS_DESC",
												"type": "String",
												"value": {
													"value": "@item().CLS_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "CLS_ABBR_DESC",
												"type": "String",
												"value": {
													"value": "@item().CLS_ABBR_DESC",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "BRD_ID",
												"type": "Int32",
												"value": {
													"value": "@item().BRD_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DIV_ID",
												"type": "Int32",
												"value": {
													"value": "@item().DIV_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "DEPT_ID",
												"type": "Int32",
												"value": {
													"value": "@item().DEPT_ID",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "CLS_ID",
												"type": "Int32",
												"value": {
													"value": "@item().CLS_ID",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "UPDATE IPTCGI.UMHDS_UNIV_MDSE_HIER_T \nSET  CLS_DESC = ?, \nCLS_ABBR_DESC = ? \nWHERE BRD_ID = ?\nAND DIV_ID = ?\nAND DEPT_ID = ?\nAND CLS_ID = ?\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Send-Emial_1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSBrand_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:ldIPT011BCRItemsUMHDSBrand_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach1 failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_3",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSDivision_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:ldIPT011BCRItemsUMHDSDivision_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_4",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach2 failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_5",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSDepartment_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:ldIPT011BCRItemsUMHDSDepartment_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_6",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach3",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach3 failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_7",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ldIPT011BCRItemsUMHDSClass_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:ldIPT011BCRItemsUMHDSClass_PX failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_8",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach4",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach4 failed to run\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "01-BCRItems"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-27T08:43:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}