ADF-Dev/pipeline/sqrIPT046PriceUpdate.json
{
	"name": "sqrIPT046PriceUpdate",
	"properties": {
		"activities": [
			{
				"name": "Order to Auzre IPTEGI_LOCLT_LOC_LIST_T",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT LOC_NBR,MKT_ID FROM IPTEGI.LOCLT_LOC_LIST_T  ",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 32,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IPTEGI_LOCLT_LOC_LIST_T",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AB_IPTEGI_IPTEGI_LOCLT_LOC_LIST_T",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Order to Auzre IPTCGI_LOCLT_LOC_LIST_T",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Order to Auzre IPTEGI_LOCLT_LOC_LIST_T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT LOC_NBR,MKT_ID FROM IPTCGI.LOCLT_LOC_LIST_T",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 32,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LOCLT_LOC_LIST_T",
						"type": "DatasetReference",
						"parameters": {
							"IPT_DB_SCHEMA": "IPTCGI"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AB_IPTCGI_IPTEGI_LOCLT_LOC_LIST_T",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ldIPT046PriceUpdate_PX",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Order to Auzre IPTCGI_LOCLT_LOC_LIST_T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ldIPT046PriceUpdate_PX",
						"type": "DataFlowReference",
						"parameters": {
							"pInvocationId": "'ASIA'"
						},
						"datasetParameters": {
							"DSPriceUpdate": {
								"pInvocationId": "ASIA"
							},
							"FFRejLoc": {
								"pInvocationId": "ASIA"
							}
						}
					},
					"compute": {
						"coreCount": 16,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Send-Emial_3",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ldIPT046PriceUpdate_PX",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Data flow:ldIPT046PriceUpdate_PX\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Order to Auzre IPTEGI_LOCLT_LOC_LIST_T",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:Order to Auzre IPTEGI_LOCLT_LOC_LIST_T\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Order to Auzre IPTCGI_LOCLT_LOC_LIST_T",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:Order to Auzre IPTCGI_LOCLT_LOC_LIST_T\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_8",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach2\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send-Emial_9",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "046",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "customFactoryName",
						"value": "''"
					}
				],
				"typeProperties": {
					"url": "https://prod-09.chinanorth2.logic.azure.cn:443/workflows/a95fad29ccc64b6eb1382e5341e0acf9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zmThVyZEiDtBlQqQFfOiSTumqAxHQTYvmF1CnSRoqbs",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Run Error Notification\",\n    \"message\": \"Activity:ForEach2\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"receiver\": \"@{pipeline().globalParameters.Receiver}\",\n    \"time\": \"@{utcnow()}\",\n    \"color\": \"Red\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IPT_046_SQL2_SIU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AB_srcIPT041CurrentPriceAggregateExtract_FF_LastRunTimeStamp_ASIA",
						"type": "DatasetReference",
						"parameters": {
							"pInvocationId": "ASIA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "046",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Script1_copy1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ENT_ESB_DB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "LST_RUNTM_TMST",
												"type": "Datetime",
												"value": {
													"value": "@item().LST_RUNTM_TMST",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "LST_UPDT_DTTM",
												"type": "Datetime",
												"value": {
													"value": "@formatDateTime(addhours(utcnow(),8))",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "LST_UPDT_USER_ID",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.pLastUpdatedId",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "SCRB_NM",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.pScrbName",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "TXN_TYP_CD",
												"type": "String",
												"value": {
													"value": "@pipeline().parameters.pTxnTypeCode",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "UPDATE  AGGR_SCRB_T\nSET LST_RUNTM_TMST= ?\n       ,LST_UPDT_DTTM = ?\n       ,LST_UPDT_USER_ID = ?\nWHERE AGGR_SCRB_T.SCRB_NM = ?\nAND       AGGR_SCRB_T.TXN_TYP_CD = ?",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "IPT_046_SQL1_SIU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ldIPT046PriceUpdate_PX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExecuteRemoteScript",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"http": {
							"value": "http://10.58.8.34:8386/api/executeCommand/python?jobName=IPT_046_SQL1_SIU&&scriptPath=%2Fopt%2Fazure_data_transfer%2Fipt%2Fdata_integration%2F&&scriptName=IPT_046_SQL1_SIU.py",
							"type": "Expression"
						},
						"jobname": {
							"value": "IPT_046_SQL1_SIU",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "IPT_046_SQL2_SIU",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IPT_046_SQL1_SIU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExecuteRemoteScript",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"http": {
							"value": "http://10.58.8.34:8386/api/executeCommand/python?jobName=IPT_046_SQL2_SIU&&scriptPath=%2Fopt%2Fazure_data_transfer%2Fipt%2Fdata_integration%2F&&scriptName=IPT_046_SQL2_SIU.py",
							"type": "Expression"
						},
						"jobname": {
							"value": "IPT_046_SQL2_SIU",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pTxnTypeCode": {
				"type": "string",
				"defaultValue": "PriceDelta"
			},
			"pLastUpdatedId": {
				"type": "string",
				"defaultValue": "PIPTO46U"
			},
			"pScrbName": {
				"type": "string",
				"defaultValue": "IPT"
			}
		},
		"variables": {
			"Foreachjson": {
				"type": "String"
			},
			"Foreachjson_EGI": {
				"type": "String"
			}
		},
		"folder": {
			"name": "04-CurrentPriceInbound"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-30T02:28:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}